{% extends 'base.html' %}

{% block content %}
<div class = "container">
    <h3>Introducing d3.js</h3>
<!-- <div class = "card-deck"> -->


    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">d3 Selections</div>
        <div class="card-body">
          <p class="card-text">Using d3 to select elements of DOM</p>
                <a href="/svg_I" class="btn btn-outline-light">svg</a>
        </div>
      </div>
     

      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">The svg element</div>
        <div class="card-body">
          <p class = "card-text">Adding visual elements to svg.</p>
          <a href="/svg_I" class="btn btn-outline-light">d3 svg</a>
        </div>
      </div>

      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Transitions.</div>
        <div class="card-body">
          <p class="card-text">Making things Move and Change.</p>
          <a href="/transition_d3" class="btn btn-outline-light">Transitions</a>
        </div>
      <!-- </div> -->





</div>



</div>





{% endblock %}