{% extends 'base.html' %}

{% block content %}
<body>

    <div class = "container">
<h1>Practice with Flask and d3</h1>
</div>
<div class = "mx-auto" style="width: 600px;">
    <div class = "container">
    </div class = "card-group">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Warming Up</h5>
            <p class="card-text">Problems to get started.</p>
            <a href="/warmup" class="btn btn-primary">Warm Up Problems</a>
        </div>
        </div>
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Intro to d3</h5>
                <p class="card-text">Some basic examples with d3.js.</p>
                <a href="/d3base" class="btn btn-primary">d3</a>
            </div>
        </div>


        <!-- <div class = "card">
            <div class="card-body">
                <h5 class="card-title">Intro to Machine Learning</h5>
                <p class="card-text">Two Examples of Regression and Classification problems with scikitlearn.</p>
                <a href="#" class="btn btn-primary">sklearn</a>
            </div> -->
            
        </div>


    </div>
</div>

</body>
{% endblock %}