{% extends 'base.html' %}

{% block content %}
<div class="alert alert-primary" role="alert">
<center>
Here is what we should do to get started:

<li>Add a background image to the homepage.</li>
<li>Change the font of the website.</li>
<li>Add a navbar that we can always use to return home.</li>
<li>Add individual pages with button links for all d3 pages.</li>
<li>Add an alert connected to the warmup page button</li>
<li>Make this list centered inside a bootstrap alert.</li>

</center>
</div>
{% endblock %}